In [1]:
import pandas as pd
import pymysql

In [3]:
d = {
    "tall": [192.1, 180.2, 190.3], 
    "weight":[90.2, 74.3, 120.87]
}
df = pd.DataFrame(d)
df

    tall  weight
0  192.1   90.20
1  180.2   74.30
2  190.3  120.87

In [6]:
if_exists = 'append' 
table_name = "test2"
with pymysql.connect(host="127.0.0.1", port=3306, user="playdata", password="1111", db='testdb') as conn:
    df.to_sql(
        name=table_name.lower(),
        con = conn,
        if_exists = if_exists
    )

C:\Users\USER\AppData\Local\Temp\ipykernel_7356\3423585378.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql(

DatabaseError: Execution failed on sql '
        SELECT
            name
        FROM
            sqlite_master
        WHERE
            type IN ('table', 'view')
            AND name=?;
        ': not all arguments converted during string formatting